/* styles.css */

/* hack required for preventing navbar from covering section header.*/
#how, #what, #who, #team, #contact {
    padding-top: 5rem;
}

/* nav */

nav {
    width: 100%;	
}

.nav-div {
    padding: 0;
}


/* cover */



#cover div.cover-banner{
    background: #222 url("img/road_cover.jpg") no-repeat left center;
    background-size: cover;
    color: white;
    height: 25rem;
    display: flex;
	align-items: center;
}

#cover-caption {
    width: 100%;
    background-color: rgba(100,100,100,0.5);
}

/* How */

.how-item {
    width: 15rem;
	
}

.how-item img{
    width: 50%;
}

/* What */

.what-item {
    width: 15rem;
}

.what-item img{
    width: 50%;
}

/* who */
.who-item {
    width: 10rem;
}

.who-item img{
    width: 50%;
}


/* team */

.team-item {
    width: 18rem;
}


/* contact */

.contact-form {
    max-width: 18rem;
}

.contact-form button {
    width: 100%;
    background-color: #fc813d;
	border: 0;
}

/* footer */
.footer {
    color: darkgray;
    margin-top: 5rem;
}

.footer a{
    color: grey;
}